USE [Education_CourseMicroService]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetGroups]    Script Date: 3/29/2021 1:49:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[SP_GetGroups]
as
Select sub.Id, sub.[Name] , sub.[Description],sup.[Name] as 'ParentGroup' From 
Groups as sub left join 
Groups as sup on 
sub.GroupId = sup.Id Where sub.Active = 1